{% extends "index.html" %}
{% block head %}
<h1 class="text-center">About Me</h1>
<hr class="custom-hr" />
<p>
    Benvenuto! Welcome to in italiano, a website that I have created to share my progress as I learn the wonderful Italian language. I'm a 30 year old Data Scientist living in Surrey, England
    and am fascinated with Italian culture, history and its stunning landscape.  
</p>
<p>
    The main page of the website will include short articles (or blog posts) that I write on a near weekly basis so that I can practice my Italian. Hopefully as time progresses, the articles will feature
    better and more descriptive Italian writing. Depending on how much free time I have, I may also utilise my data science skills to develop a machine translation model that automatically
    transcribes English to Italian and vice versa on my website. However, first thing is first, to learn to read, write and speak fluent Italian and as with all things worth doing,
    learning a new language takes time, patience and a great teacher and luckily I have all three!
</p>
<p>On a side note, if you are interested in the source code used to develop my website, please click the <b>GitHub</b> link in the top right-corner of the page.</p>
{% endblock %}
{% block content %}
<h3>How did my Love of Italy Begin?</h3>
<p>I have always been interested in the people and events that came before us. I think that most people are interested in the decades just before the period in which they are alive, because it
    defines who we are and the state of the world as it is now. However my love of history stretches back thousands of years and I'm more fascinated with what life was like in 1 A.D. Rome
    than I am in London during the 1980s.  
</p>
<p>
    One of the first and most memorable books that I read on the history of Rome was called <a href="https://www.waterstones.com/book/spqr/mary-beard/9781846683817">SPQR by Mary Beard</a>.
    The people and events described in this brilliant book seemed to me, to be more like the characters that exist in a work of fiction. As my interests in Italian history became more like an
    obsession, I began reading on other important periods such as the renaissance and of course one of the most influential families in European history, the Medici of Florence.
</p>
<p>So suffice to say, my library is now full of Italian history (including art history) and after visiting Turin, Venice, Florence and Rome, I have been exposed to some of the wonderful
    cities that Italy has to offer and even more so, the food!
</p>
<h3>Why am I Learning Italian?</h3>
<p>My plan is to move to Italy within the next five years either on a semi-permanent or permanent basis. I love it more than anywhere else in the world and would love to experience
    what life is like to live there. Being able to converse and make new friends with people whilst there is obviously a hugely important part of integrating into a community and to properly
    experience what it is to live in a new country, speaking the language is a must!
</p>
<h3>How am I Learning?</h3>
<p>I have a really talented teacher from Italy who teaches me three times a week online. We have started from the foundations of the language and hopefully, we will continue into the future as I begin to sound more and more like
    a true Italian (with a Black Country accent).
</p>
<p>I have listed below some other random interests and facts that I will use to write about during my blog posts.</p>
<h3>Other Interests (which I will most likely be writing about on this site):</h3>
<ul>
    <li>Animals (particularly dogs and cats)</li>
    <li>Nature and the outdoors</li>
    <li>Stand Up Paddleboarding (SUP)</li>
    <li>Food...cooking and eating</li>
    <li>Amateur astronomy</li>
</ul>
<h3>Favourite Place in the UK?</h3>
<p>St. Davids and the Pembrokeshire coast. I am fortunate enough to spend lots of time here after my mum moved here during my late teenage years.</p>
<h3>Favourite Beach Holiday Destination?</h3>
<p>Parga, Greece.</p>
{% endblock %}

