{% extends 'index.html' %}
{% block head %}
<h1 class="text-center">Una Domanda di Sport</h1>
<hr class="custom-hr" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4">
        <img src="../static/images/una_domanda_di_sport.jpeg" class="rounded-float-left img-thumbnail" width="100%" height="400" alt="SUP in Parga"/>
    </div>
    <div class="col-8">
        <h4>Quali sono gli sport più diffusi nel suo ambiente?</h4>
        <p>
            Secondo me, calcio è la più popolari sport nel UK. Ma ci si molti sport
            nel UK per le persone per da scegli. Lei puo guardare molti sport sulla
            TV e se lei venire al UK, io consiglio che lei andare alle uno stadio
            guardare calcio. È molto divertenti!<br/>
            Avendo dicato che, SUP è adesso molto popolari qui vicino dove abito e
            vedete sempre nuovo persone sull'acqua.     
        </p>
        <h4>Quali sono, secondo lei, gli sport pericolosi?</h4>
        <p>Ci si un numero sport pericolosi. Secondo me, calcio di americano e boxe
            si pericolosi. Anchè, sto trovando che SUP puo pericoloso se non lei fa attenti.
            È facile cadere!.
        </p>
    </div>
</div>
{% endblock %}