{% extends "index.html" %}
{% block head %}
<h1 class="text-center">Vicini di casa</h1>
<h2 class="text-center subtitle">Una storia i vicini di casa</h2>
<hr class="custom-hr" />
{% endblock %}
{% block content %}
<h3>Riassunto della storia</h3>
<p>
    La storia riguarda un uomo che abita con vicini di casa che sono vecchie impiccione.
</p>
<h3>Quello che è successo secondo mia</h3>
<p>
    Oggi sto andando a invitare le vecchie a cena a casa. Darò loro un assaggio della loro stessa medicina. Ho visitato ogni vecchia nel palazzo e ho chiesto loro di venire
    a casa alle dicianove. Le vecchie mi hanno guardato con sorpresa ma hanno detto di si. Finalmente, la mia soluzione sta iniziando.
</p>
<p>
    Io preparo il tavolo e faccio la pasta all'arrabbiata che è perfetta per questa occasione. Alle diciannove, ho aperto la porta e una per una entrano e prendono una sedia al tavolo.
    Chiacchiere iniziano mentre servo vino e metto il cibo in tavolo. Guardo l'orario...diciotto meno un quarto. È ora!   
</p>
<p>
    Le vecchie stavano mangiando, bevendo e parlando quando ho detto "conosciete i (nuovi) pettegolezzi?" Loro si fermano e guardano. "Ho qualche pettegolezzo interessante che penso vi piacerà."
    Adesso, di solito non faccio pettogelozzi ma queste vecchie hanno bisogno di una lezione.  
</p>
<p>
    Guardo la madre di Aldo e dico, "ho sentito che tu dice ad Aldo che non ti piacciono i vecchi biscotti che le tue vicine comprano."
</p>
<p>
    Guardo la vecchia del secondo piano e dico, "ho sentito che tu sei innamorata di Ugo!"
</p>
<p>
    Guardo la vecchia del terzo piano e dico, "ho visto che tu vai a delle vicine per i loro mariti!"
</p>
<p>
    Una lunga pausa...e tutto in una volta loro iniziano a urlare l'una contro l'altra dopo aver ascoltato cosa ho detto. Dopo cinque minuti, dico "ascoltatemi tesori...pettogelozzi è una brutta bitudine e adesso sapete
    che non potete parlare dei vostri vicini." 
</p>
<p>
    Dopo che vanno via, siedo con il mio gatto chiamato Elle e rido. Un lavoro molto ben fatto, penso. A dire la verità...ne vale la pena.
</p>
{% endblock %}