{% extends "index.html" %}
{% block head %}
<h1 class="text-center">Vicini di casa</h1>
<h2 class="text-center subtitle">Una storia i vicini di casa</h2>
<hr class="custom-hr" />
{% endblock %}
{% block content %}
<h3>Riassunto della storia</h3>
<p>
    La storia riguarda un uomo che abiti con vicini di casa che sono vecchia impicciona.
</p>
<h3>Quello che è successo secondo mia</h3>
<p>
    Oggi sono andando per invitare le vecchie a cena a casa. Darò loro un assaggio della loro stessa medicina. Ho visitato ogni la vecchia in il palazzo e ho chiesto loro di venire
    a casa alle dicianove. Le vecchie mi guardarono con sorpresa ma hanno detto di si. Finalmente, la mia soluzione sta iniziando.
</p>
<p>
    Io preparo il tavolo è faccio pasta arrabbiata questo è perfetto per questa occasione. Alle dicianove, ho aperto la porta e uno per uno entrano e prendono una sedia al tavolo.
    Chiacchiere iniziano mentre servo vino e metto il cibo in tavolo. Vedato a tempo...diciotto menu quarto. È tempo!   
</p>
<p>
    Le vecchie stavano mangiando, bevendo e parlando quando ho detto "conosci i pettogelozzi?" Loro si fermano e guardano. "Ho qualche pettogelozzi di interessante che penso ti come."
    Adesso, di solito non faccio parlo pettogelozzo ma questi le vecchie bisognato essere insegnanto un lezione.  
</p>
<p>
    Guardo a madre di Aldo e diro, "ascoltato tu dice a Aldo che tu non come i vecchia biscotti che sue vicine comprari."
</p>
<p>
    Guardo la vecchia del secondo piano e diro, "ascoltato che tu sei innamorato con Ugo!"
</p>
<p>
    Guardo la vecchia del terzo piano e diro, "vedato tu veni a casa per marito di vicine!"
</p>
<p>
    Un lontano pausa...che tutto in una volta loro iniziato urlando al'un l'altra dopo ascoltando cosa diro. Dopo cinque minuti, diro "ascoltami tesori...pettogelozzi è mali e adesso sapete
    non povete parlete del tuoi vicini." 
</p>
<p>
    Dopo andano, siedo con il mio gatto chiamato Elle e rido. Un lavoro molto bene, penso. A dire le veritè...vale la pena.
</p>
{% endblock %}